* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: sans-serif;
}

main {
  max-width: 1300px;
  margin: 8px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}
